<ng-template #editTicket>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Editar Senha</h5>
    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="ticketForm" class="row g-3">
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Numero:</label>
        <input formControlName="number" type="text" class="form-control form-control-lg notransition shadow-none"
        id="name" readonly>
      </div>
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Estado:</label>
        <div class="form-check form-switch">
          <input formControlName="priority" class="form-check-input" type="checkbox">
          <label class="form-check-label" for="flexSwitchCheckDefault">
          </label>
        </div>
      </div>        
      <div class="mb-3">
        <label for="message-text" class="col-form-label">Notas:</label>
        <textarea formControlName="notes" class="form-control shadow-none" rows="3" id="status"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a (click)="closeModal()"> Cancelar </a>
    <button type="button" class="btn mt-2 mb-2 btn-primary">Editar</button>
  </div>
</ng-template>