<div class="modal-header">
  <h5 class="modal-title">Apagar</h5>
  <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
</div>
<div class="modal-body">
  Tem a certeza de que pretende apagar este registo?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Apagar</button>
</div>

<!-- <div class="modal fade" id="deleteLocation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Apagar Serviço</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tem a certeza de que pretende apagar este registo?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-delete" data-bs-dismiss="modal">Apagar</button>
      </div>
    </div>
  </div>
</div> -->