<ng-template #editUser>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Editar Utilizador</h5>
    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="userForm" class="row g-3">
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Nome</label><a class="mandatoryField">  *</a>
        <input formControlName="name" type="text" class="form-control form-control-lg notransition shadow-none"
        id="name">
        <label class="errorMessage" *ngIf="user_errors?.phone">
          {{ user_errors.name.message }}
        </label>
      </div>
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Email</label><a class="mandatoryField">  *</a>
        <input formControlName="email" type="text" class="form-control form-control-lg notransition shadow-none"
        id="email">
        <label class="errorMessage" *ngIf="user_errors?.phone">
          {{ user_errors.email.message }}
        </label>
      </div>
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Contacto</label><a class="mandatoryField">  *</a>
        <input formControlName="phone" type="text" class="form-control form-control-lg notransition shadow-none"
        id="phone">
        <label class="errorMessage" *ngIf="user_errors?.phone">
          {{ user_errors.phone.message }}
        </label>
      </div>
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Administrador</label>
        <div class="form-check form-switch">
          <input formControlName="admin" class="form-check-input" type="checkbox">
          <label class="form-check-label" for="flexSwitchCheckDefault">
          </label>
        </div>
      </div> 
      <div class="col-md-12">
        <label for="recipient-name" class="col-form-label">Morada</label>
        <textarea formControlName="address" type="text" class="form-control form-control-lg notransition shadow-none"></textarea>
      </div>       
    </form>
  </div>
  <div class="modal-footer">
    <a (click)="closeModal()"> Cancelar </a>
    <button (click)="updateUser()" type="button" class="btn mt-2 mb-2 btn-primary">Editar</button>
  </div>
</ng-template>