<app-navbar></app-navbar>

<!-- <div class="container">
  <div class="row row-cols-2 row-cols-lg-3">
    <div class="col-sm-12 col-lg-12 title">
      <h2>Selecione o dia e hora para fazer o agendamento</h2>
    </div>
    <div class="col-10 offset-1 col-md-10 col-lg-12 offset-lg-0 horario mt-4">
      <h3>{{today | date: 'fullDate'}}</h3>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senhaV2.svg">
      </div>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senha_2.svg">
      </div>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senha_2.svg">
      </div>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senha_2.svg">
      </div>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senha_2.svg">
      </div>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senha_2.svg">
      </div>
    </div>

    <div class="col-10 offset-1 col-md-10 col-lg-12 offset-lg-0 horario mt-4">
      <h3>{{day1() | date: 'fullDate'}}</h3>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senha_2.svg">
      </div>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senha_2.svg">
      </div>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senha_2.svg">
      </div>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senha_2.svg">
      </div>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senha_2.svg">
      </div>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senha_2.svg">
      </div>
    </div>

    <div class="col-10 offset-1 col-md-10 col-lg-12 offset-lg-0 horario mt-4">
      <h3>{{day2() | date: 'fullDate'}}</h3>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senha_2.svg">
      </div>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senha_2.svg">
      </div>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senha_2.svg">
      </div>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senha_2.svg">
      </div>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senha_2.svg">
      </div>
      <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
        <div class="ticketTime">
          <p>9:30</p>
        </div>
        <img src="../../../assets/icons/senha_2.svg">
      </div>
    </div>

  </div>
</div> -->
<!-- 
<mat-stepper orientation="vertical" labelPosition="bottom" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup" label="Escolha o serviço">
    <div class="container">
      <div class="row row-cols-2 row-cols-lg-3">
        <div class="col-sm-12 col-lg-12 title">
          <h2>Selecione o dia e hora para fazer o agendamento</h2>
        </div>
        <div class="col-10 offset-1 col-md-10 col-lg-12 offset-lg-0 horario mt-4">
          <h3>{{today | date: 'fullDate'}}</h3>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senhaV2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
        </div>
    
        <div class="col-10 offset-1 col-md-10 col-lg-12 offset-lg-0 horario mt-4">
          <h3>{{day1() | date: 'fullDate'}}</h3>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
        </div>
    
        <div class="col-10 offset-1 col-md-10 col-lg-12 offset-lg-0 horario mt-4">
          <h3>{{day2() | date: 'fullDate'}}</h3>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
        </div>
    
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup" label="Escolha o local">
    <div class="container">
      <div class="row row-cols-2 row-cols-lg-3">
        <div class="col-sm-12 col-lg-12 title">
          <h2>Selecione o dia e hora para fazer o agendamento</h2>
        </div>
        <div class="col-10 offset-1 col-md-10 col-lg-12 offset-lg-0 horario mt-4">
          <h3>{{today | date: 'fullDate'}}</h3>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senhaV2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
        </div>
    
        <div class="col-10 offset-1 col-md-10 col-lg-12 offset-lg-0 horario mt-4">
          <h3>{{day1() | date: 'fullDate'}}</h3>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
        </div>
    
        <div class="col-10 offset-1 col-md-10 col-lg-12 offset-lg-0 horario mt-4">
          <h3>{{day2() | date: 'fullDate'}}</h3>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
        </div>
    
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup" label="Escolha a hora">
    <div class="container">
      <div class="row row-cols-2 row-cols-lg-3">
        <div class="col-sm-12 col-lg-12 title">
          <h2>Selecione o dia e hora para fazer o agendamento</h2>
        </div>
        <div class="col-10 offset-1 col-md-10 col-lg-12 offset-lg-0 horario mt-4">
          <h3>{{today | date: 'fullDate'}}</h3>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senhaV2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
        </div>
    
        <div class="col-10 offset-1 col-md-10 col-lg-12 offset-lg-0 horario mt-4">
          <h3>{{day1() | date: 'fullDate'}}</h3>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
        </div>
    
        <div class="col-10 offset-1 col-md-10 col-lg-12 offset-lg-0 horario mt-4">
          <h3>{{day2() | date: 'fullDate'}}</h3>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
          <div (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
            <div class="ticketTime">
              <p>9:30</p>
            </div>
            <img src="../../../assets/icons/senha_2.svg">
          </div>
        </div>
    
      </div>
    </div>
  </mat-step>
</mat-stepper> -->

<mat-stepper linear #stepper>
  <form [formGroup]="bookingFormGroup">
    <mat-step [stepControl]="bookingFormGroup" [editable]="isEditable">
      <ng-template matStepLabel>Escolha o local</ng-template>
      <mat-form-field appearance="outline" class="col-lg-4">
        <mat-label>Local</mat-label>
        <mat-select formControlName="location_id" >
          <mat-option *ngFor="let location of allLocationData" [value]="location.id">{{ location.address }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Seguinte</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="bookingFormGroup" [editable]="isEditable">
      <ng-template matStepLabel>Escolha o serviço</ng-template>
      <mat-form-field appearance="outline" class="col-lg-4" style="border: 0px solid red;">
        <mat-label>Serviço</mat-label>
        <mat-select formControlName="service_id" >
          <mat-option *ngFor="let service of allServiceData" [value]="service.id">{{ service.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Seguinte</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="bookingFormGroup" [editable]="isEditable">
      <ng-template matStepLabel>Escolha um horario</ng-template>
      <div *ngFor="let day of availableDays" class="col-10 offset-1 col-md-10 col-lg-12 offset-lg-0 horario mt-5">
        <h3>{{ getday(day) | date: 'fullDate' }}</h3>
        <div *ngFor="let time of avaiableTimes" (click)="openFinishBookingModal()" class="col-2 col-lg-1 ticket">
          <div class="ticketTime">
            <p>{{ time }}</p>
          </div>
          <img src="../../../assets/icons/senha_2.svg">
        </div>
      </div>
  
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Seguinte</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="bookingFormGroup" [editable]="isEditable">
      <ng-template matStepLabel>Dados pessoais</ng-template>
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-label class="mb-3">Tipo de Atendimento</mat-label>
      <br>
      <br>
      <mat-slide-toggle [checked]="checked" (change)="checkClicked(checked)"></mat-slide-toggle>
      <mat-label *ngIf="!checked">
        <p ngDefaultControl>Normal</p>
        <input matInput formControlName="priority" hidden="true" value="{{ this.bookingFormGroup.patchValue({priority: 'normal'}) }}">
      </mat-label>
      <mat-label *ngIf="checked">
        <p ngDefaultControl>Prioritário</p>
        <input matInput formControlName="priority" hidden="true" value="{{ this.bookingFormGroup.patchValue({priority: 'priority'}) }}">
      </mat-label>
      <mat-hint>
        Prioritários apenas engloba pessoas deficientes, grávidas ou idosas. 
        Todos outros casos, caso escolham este estatudo e não sejam um dos casos referidos, corre risco do cancelamento do agendamento.
      </mat-hint>
      <br>
      <br>
      <mat-form-field class="col-lg-6" appearance="outline">
        <mat-label>Notas</mat-label>
        <textarea cdkTextareaAutosize cdkAutosizeMinRows="5" matInput formControlName="notes"></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button (click)="openFinishBookingModal()" matStepperNext>Concluir</button>
        <button mat-button (click)="viewData()" >Console.log formData</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Concluir</ng-template>
      <p>Aqui aparece modal</p>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button (click)="stepper.reset()">Concluir</button>
      </div>
    </mat-step>
  </form>
</mat-stepper>

<app-create-booking #createBooking></app-create-booking>

