<div class="container"> 
  <div class="row">
    <div class="col-6 col-lg-12" style="border: 0px solid green;">
    <img class="d-lg-block logo_login" src="../../../assets/images/iTicket_logo.svg">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Recuperar palavra-passe</h1>
          <form class="formulario" [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email</label>
              <input type="email" formControlName="email" class="form-control" id="email" 
              placeholder="Introduza o seu email">
            </div>
            <button class="rounded-pill btn btn-primary btn-lg">Enviar</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>