<ng-template #createBookingSchedule>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Adicionar Horário de Atendimento</h5>
    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="" class="row g-3">
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Serviço</label><a class="mandatoryField">  *</a>
        <select formControlName="service_id" class="form-select form-select-lg notransition shadow-none" id="inputGroupSelect01">
          <option selected>Escolha um serviço</option>
          <option *ngFor="let service of allServiceData" [value]="service.id">{{ service.name }}</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Data</label><a class="mandatoryField">  *</a>
        <input formControlName="day" type="date"  min=this.todaysDate class="form-control form-control-lg notransition shadow-none">
      </div> 
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Hora</label><a class="mandatoryField">  *</a>
        <input formControlName="hour" type="time" step="600" min="09:00" max="18:00" class="form-control form-control-lg notransition shadow-none">
      </div> 
    </form>
  </div>
  <div class="modal-footer">
    <a (click)="closeModal()"> Cancelar </a>
    <button type="button" class="btn mt-2 mb-2 btn-primary">Adicionar</button>
  </div>
</ng-template>