<app-navbar></app-navbar>

<div class="container" style="border: 0px solid red;">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card">

        <!----------------------------Queues---------------------------->

        <div class="queuesBody">
          <div *ngFor="let data of allWaitingListData | slice: 0:1" class="card-header" href="calling">
            Filas({{ NumberOfQueues }})
          </div>

          <div *ngFor="let data of allTicketQueueData | slice: 0:3 " class="card-body text-primary">
            <div class="ticket">
              <img src="../../../assets/icons/senha_2.svg">
              <div class="ticketNum">
                <p>{{ data['waiting_list'].name | homePipes }} {{ data['number'] | number: '3.0' }}</p>
              </div>
            </div>
            <div class="ticketInfo">
              <div class="infoServico">
                {{ data['waiting_list']['service'].name }}
              </div>
              <div class="infoTipoAtendimento" *ngIf="data['priority'] == 0 || data['priority'] == null">
                Atendimento Normal
              </div>
              <div class="infoTipoAtendimento" *ngIf="data['priority'] == 1">
                Atendimento Prioritário
              </div>
              <div class="numTickets">
                <img src="../../../assets/icons/waiting_users.svg">
                {{ data['number'] }}
              </div>
              <div class="numBookings">
                <img src="../../../assets/icons/bookings.svg">
                {{ data['number'] }}
              </div>
              <button class="rounded-pill btn btn-primary btn-lg" (click)="getTicketById(data['id']); CallingScreen()">
                Chamar
              </button>
            </div>
            <hr>
          </div>
        </div>
      <!----------------------------Calling Screen-------------------- ngClass="{'appears': changeToCalling==true}"-------->
        <div class="callingBody" [ngStyle]="{'transform': (changeToCalling == true)? '' : 'translateX(0)'}">

          <div class="card-header">
            Chamou
          </div>
          <div class="card-body text-primary">
            <div class="ticketInfo">
              <div class="ticket"> 
                <div class="ticketNum">
                  {{ allTicketByIdData?.number }}
                </div>
              </div>
              <div class="infoServico">
                {{ allTicketByIdData?.['waiting_list'].name }}
              </div>
              <div class="infoTipoAtendimento" *ngIf="allTicketByIdData?.['priority'] == false">
                Atendimento Normal
              </div>
              <div class="infoTipoAtendimento" *ngIf="allTicketByIdData?.['priority'] == true">
                Atendimento Prioritário
              </div>
              <div class="numTickets">
                <img src="../../../assets/icons/waiting_users.svg">

              </div>
              <div class="numBookings">
                <img src="../../../assets/icons/bookings.svg">

              </div>
            </div>
            <div class="start">
              <button class="rounded-pill btn btn-primary" 
                (click)="start(); AttendingScreen(); EditTicket(allTicketByIdData)">
                <img src="../../../assets/icons/start.svg">
                Iniciar Atendimento
              </button>
            </div>
            <div class="callAgain">
              <img src="../../../assets/icons/call.svg">
              Chamar novamente
            </div>
            <div class="cancel" (click)="CallingScreen()">
              <img src="../../../assets/icons/cancel.svg">
              Cancelar
            </div>
          </div>
        </div>
      <!----------------------------In Attendance---------------------------->

        <div class="attendanceBody" [ngStyle]="{'transform': (changeToAttending == true)? '' : 'translateX(110%)'}">
          <div class="card-header">
            Em atendimento
          </div>
          <div class="card-body text-primary">
            <div class="ticketInfo">
              <div class="ticket">
                <div class="ticketNum">
                  {{allTicketByIdData?.number}}
                </div>
              </div>
              <div class="infoServico">
                {{ allTicketByIdData?.['waiting_list'].name }}
              </div>
              <div class="infoNome">
                Tipo Atendimento
              </div>
              <div class="timer">
                <img src="../../../assets/icons/timer.svg">
                <span>{{hour}}:{{min}}:{{sec}}</span>
              </div>
              <button (click)="stop(); FinishAttending(); updateTicket()" routerLink="/home" 
              class="rounded-pill btn btn-primary" type="submit">
                <img class="imgButton" src="../../../assets/icons/finish_3.svg">
                Concluir
              </button>
            </div>
            <form [formGroup]="ticketForm">
              <div class="nome">
                <label class="form-label">Nome</label>
                <input class="form-control" type="text" formControlName="name" id="name"> 
              </div>
              <div class="notas">
                <label class="form-label">Notas</label>
                <textarea formControlName="notes" class="form-control" id="notes" rows="5"></textarea>
                <input class="form-control" type="text" formControlName="status" style="display: none;">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

<!-----------------------------------------History----------------------------------------->

    <div class="col-12 col-lg-6">
      <div class="card">
        <div class="card-header">
          Histórico
        </div>
        <div class="card-body text-primary">
          <mat-tab-group dynamicHeight>

            <!----------------------------Attendance---------------------------->

            <mat-tab label="Atendimentos">
              <div class="example-large-box mat-elevation-z4">
                
                <div class="accordion" id="accordionExample">

                  <div *ngFor="let data of allTicketData" class="accordion-item">
                    <div *ngIf="data.status === 'finished'">
                    <h2 class="accordion-header" id="headingOne + i">
                      <button (click)="data.isHidden = !data.isHidden" class="accordion-button" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
                        <div class="accordionInfo">
                          <div class="ticket">
                            <div class="ticketInfo">
                              {{ data.waiting_list.name | homePipes }} {{ data.number | number: '3.0' }}       
                            </div>
                          </div>
                          <div class="infoServico">
                            {{ data.waiting_list.name }}
                          </div>
                          <div class="infoNome">
                            {{ data.waiting_list.name }}
                          </div>
                          <div class="infoCount">
                            {{ data.created_at | date:'dd MMM yyyy - HH:mm aa' }}
                          </div>
                        </div>
                      </button>
                    </h2>
                    <div id="collapseOne + i" class="accordion-collapse collapse show" aria-labelledby="headingOne" 
                      data-bs-parent="#accordionExample">
                      <div *ngIf="data.isHidden" class="accordion-body">
                        <h5>Notas</h5>
                        <p>{{ data.notes }}</p>
                        <hr/>
                      </div>
                    </div>
                  </div>
                </div></div>
              </div>
            </mat-tab>

            <!----------------------------Bookings---------------------------->

            <mat-tab label="Agendamentos"  >
              <div class="example-large-box mat-elevation-z4">
                
                <div class="accordion" id="accordionExample">

                  <div *ngFor="let data of allBookingData" class="accordion-item">
                    <h2 class="accordion-header" id="headingOne + i">
                      <button (click)="data.isHidden = !data.isHidden" class="accordion-button" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
                        <div class="accordionInfo">
                          <div class="ticket" (click)="changeTicket($event, 'ticket', 'ticket_clicked')">
                            <div class="ticketInfo">
                              A 001          
                            </div>
                          </div>
                          <div class="infoServico">
                            {{ data.service.name }}
                          </div>
                          <div class="infoNome" *ngIf="data.priority == false">
                            Atendimento Normal
                          </div>
                          <div class="infoNome" *ngIf="data.priority == true">
                            Atendimento Prioritário
                          </div>
                          <div class="infoCount">
                            {{ data.start_time | date:'dd MMM yyyy - HH:mm aa' }}
                          </div>
                        </div>
                      </button>
                    </h2>
                    <div id="collapseOne + i" class="accordion-collapse collapse show" aria-labelledby="headingOne" 
                      data-bs-parent="#accordionExample">
                      <div *ngIf="data.isHidden" class="accordion-body">
                        <h5>Notes</h5>
                        <br>
                        <p>{{ data.notes }}</p>
                        <hr/>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>