<app-navbar></app-navbar>

<div class="container" style="border: 0px solid red;">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card">

        <!----------------------------Queues---------------------------->

        <div class="queuesBody">
          <div *ngFor="let data of allWaitingListData | slice: 0:1" class="card-header" routerLink="/waiting_lists">
            Filas({{ totalRows }})
          </div>

          <div *ngFor="let data of allTicketData" class="card-body text-primary">
            <div class="ticket">
              <i class="bi bi-ticket fa-8x"></i>
              <div class="ticketNum">
                <p>{{ data.waiting_list.name | homePipes }} {{ data.number | number: '3.0' }}</p>
              </div>
            </div>
            <div class="ticketInfo">
              <div class="infoServico">
                {{ data.waiting_list.name }}
              </div>
              <div class="infoNome">
                {{ data.waiting_list.name }}
              </div>
              <div class="infoCount">
                {{ data.number }}
              </div>
              <button onclick="calling()" class="rounded-pill btn btn-primary btn-lg">
                Chamar
              </button>
            </div>
            <hr>
          </div>
        </div>
      <!----------------------------Calling Screen---------------------------->
        <div class="callingBody">
          <div class="card-header">
            Chamou
          </div>
          <div class="card-body text-primary">
            <div class="ticketInfo">
              <div class="ticket"> 
                <div class="ticketNum">
                  A 001
                </div>
              </div>
              <div class="infoServico">
                um
              </div>
              <div class="infoNome">
                dois
              </div>
              <div class="infoCount">
                tres
              </div>
            </div>
            <div class="start">
              <button class="rounded-pill btn btn-primary">
                Iniciar Atendimento
              </button>
            </div>
            <div class="callAgain">
              Chamar novamente
            </div>
            <div class="cancel">
              Cancelar
            </div>
          </div>
        </div>

      <!----------------------------In Attendance---------------------------->

        <div class="attendanceBody">
          <div class="card-header">
            Em atendimento
          </div>
          <div class="card-body text-primary">
            <div class="ticketInfo">
              <div class="ticket">
                <div class="ticketNum">
                  A 001
                </div>
              </div>
              <div class="infoServico">
                Nome do serviço
              </div>
              <div class="infoNome">
                Tipo Atendimento
              </div>
              <div class="timer">
                <i class="bi bi-stopwatch"></i>
                <span> {{hour}}:</span>
                <span>{{min}}:</span>
                <span>{{sec}}</span>
              </div>
              <button (click)="stop()" class="rounded-pill btn btn-primary" type="submit">
                Concluir
              </button>
              <button (click)="start()" class="rounded-pill btn btn-primary btn-lg" style="margin-top: 25%;">
                Começar
              </button>
            </div>
            <div class="nome">
              <label for="name" class="form-label">Nome</label>
              <input name="name" type="text" class="form-control" id="name" required> 
            </div>
            <div class="notas">
              <label for="exampleFormControlTextarea1" class="form-label">Notas</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-----------------------------------------History----------------------------------------->

    <div class="col-12 col-lg-6">
      <div class="card">
        <div class="card-header">
          Histórico
        </div>
        <div class="card-body text-primary">
          <mat-tab-group dynamicHeight>

            <!----------------------------Attendance---------------------------->

            <mat-tab label="Atendimentos">
              <div class="example-large-box mat-elevation-z4">
                
                <div class="accordion" id="accordionExample">

                  <div *ngFor="let data of allBookingData" class="accordion-item">
                    <h2 class="accordion-header" id="headingOne + i">
                      <button (click)="data.isHidden = !data.isHidden" class="accordion-button" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
                        <div class="accordionInfo">
                          <div class="ticket">
                            <div class="ticketInfo">
                              A 001          
                            </div>
                          </div>
                          <div class="infoServico">
                            {{ data.name }}
                          </div>
                          <div class="infoNome">
                            {{ data.service.name }}
                          </div>
                          <div class="infoCount">
                            {{ data.start_time | date:'dd MMM yyyy - HH:mm aa' }}
                          </div>
                        </div>
                      </button>
                    </h2>
                    <div id="collapseOne + i" class="accordion-collapse collapse show" aria-labelledby="headingOne" 
                      data-bs-parent="#accordionExample">
                      <div *ngIf="data.isHidden" class="accordion-body">
                        <h5>Notas</h5>
                        <p>{{ data.notes }}</p>
                        <hr/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>

            <!----------------------------Bookings---------------------------->

            <mat-tab label="Agendamentos"  >
              <div class="example-large-box mat-elevation-z4">
                
                <div class="accordion" id="accordionExample">

                  <div *ngFor="let data of allBookingData" class="accordion-item">
                    <h2 class="accordion-header" id="headingOne + i">
                      <button (click)="data.isHidden = !data.isHidden" class="accordion-button" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
                        <div class="accordionInfo">
                          <div class="ticket">
                            <div class="ticketInfo">
                              A 001          
                            </div>
                          </div>
                          <div class="infoServico">
                            {{ data.name }}
                          </div>
                          <div class="infoNome">
                            {{ data.service.name }}
                          </div>
                          <div class="infoCount">
                            {{ data.start_time | date:'dd MMM yyyy - HH:mm aa' }}
                          </div>
                        </div>
                      </button>
                    </h2>
                    <div id="collapseOne + i" class="accordion-collapse collapse show" aria-labelledby="headingOne" 
                      data-bs-parent="#accordionExample">
                      <div *ngIf="data.isHidden" class="accordion-body">
                        <h5>Notes</h5>
                        <br>
                        <p>{{ data.notes }}</p>
                        <hr/>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>