<!--
<nav class="navbar navbar-expand-lg" style="border: 0px solid red;">
<div class="container-fluid" style="border: 0px solid red;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <div class="col-2 col-lg-4" style="border: 1px solid red;">
            <div class="navContainer1">
            <div class="navbar-items">
              <a routerLink="">
                <fa-icon [icon]="faMapPin"></fa-icon>
                Locations
              </a>
            </div>
            <div class="navbar-items">
              <a routerLink="">
                <fa-icon [icon]="faUsersGear"></fa-icon>
                Services
              </a>
            </div>
            <div class="navbar-items">
              <a routerLink="">
                <fa-icon [icon]="faGear"></fa-icon>
                Settings
              </a>
            </div>
          </div>
</div>

          <div class="col col-lg-2" style="border: 1px solid red;">
            <div class="imageNav1">
              <img src="../assets/images/iTicket_logo.PNG" >
            </div>
          </div>



          <div class="col-2 col-lg-4" style="border: 1px solid red;">
            <div class="navContainer1">
            <div ngbDropdown class="d-inline-block">
              <a ngbDropdownToggle>
                <fa-icon [icon]="faUser"></fa-icon> User Name
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem>
                    <a class="navbar-items">Profile</a>
                  </button>
                  <button ngbDropdownItem>
                    <a class="navbar-items">Sessions</a>
                  </button>
                  <button ngbDropdownItem>
                    <div class="navbar-items">
                      <a routerLink="" style="color: red;">
                        <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
                        Logout
                      </a>
                    </div>
                  </button>
                </div>
              </a>
            </div>
          </div></div></div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand d-lg-none" href="#">
    <img src="../assets/images/iTicket_logo.PNG">
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto me-auto mb-2 mb-lg-0">
        <div class="col-2 col-lg-4" style="border: 1px solid red;">
        <li class="nav-item">
          <a routerLink="">
            <fa-icon [icon]="faMapPin"></fa-icon>
            Locations
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="">
            <fa-icon [icon]="faUsersGear"></fa-icon>
            Services
          </a>
        </li>
        <li class="nav-items">
          <a routerLink="">
            <fa-icon [icon]="faGear"></fa-icon>
            Settings
          </a>
        </li>
</div>


<div class="col col-lg-2" style="border: 1px solid red;">
        <a class="d-none d-lg-block" href="#">
          <img src="../assets/images/iTicket_logo.PNG" alt="" width="30" height="24">
        </a></div>

        <div class="col-2 col-lg-4" style="border: 1px solid red;">
        <div ngbDropdown class="d-inline-block">
          <a ngbDropdownToggle>
            <fa-icon [icon]="faUser"></fa-icon> User Name
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>
                <a class="navbar-items">Profile</a>
              </button>
              <button ngbDropdownItem>
                <a class="navbar-items">Sessions</a>
              </button>
              <button ngbDropdownItem>
                <div class="navbar-items">
                  <a routerLink="" style="color: red;">
                    <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
                    Logout
                  </a>
                </div>
              </button>
            </div>
          </a>
        </div>
        
</div>


      </ul>
    </div>
</nav>

<br>
<br>

<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand d-lg-none" href="#">
    <img src="../assets/images/iTicket_logo.PNG">
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

        <a class="d-none d-lg-block" href="#">
          <img src="../assets/images/iTicket_logo.PNG" alt="" width="30" height="24">
        </a>

        <li class="nav-item">
          <a class="nav-link">Disabled</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">exemplo</a>
        </li>
      </ul>
    </div>
</nav>

<br>
<br>
-->

<nav class="navbar navbar-expand-xl navbar-light">
  <div class="container-fluid" style="border: 0px solid green;">
    <a class="navbar-brand d-lg-none" href="#">
      <img src="../assets/images/iTicket_navLogo1.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="border: 0px solid goldenrod;">
      <ul class="navbar-nav justify-content-center mx-auto" style="border: 0px solid red; width: 90%;">

        <div *ngFor="let data of sessionData">
          ola
          {{ data.account.name }}
        </div>

        <li class="nav-item" style="position: sticky; margin-left: 25%;">
          <div class="col-md-6 col-lg-12" style="border: 0px solid red;">
            <a class="navbar-brand d-none d-lg-block" routerLink="/home">
              <img src="../assets/images/iTicket_logo.svg">
            </a>
          </div>
        </li>
<!-- *ngIf="sessionData && sessionData.length > 0" -->
        <li class="nav-item" style="width: 25%;">
          <div class="col-md-6 col-lg-12" style="border: 0px solid blue;  margin-left: 75%;">
              <li class="nav-items">

                <div ngbDropdown class="d-inline-block">
                  <a *ngIf="home" (click)="changeNavItem()">
                    <!--<fa-icon [icon]="faGear"></fa-icon>-->
                    <img src="../../../assets/icons/settings.svg">
                    Definições
                  </a>
                  <a *ngIf="!home" (click)="changeNavItem()">
                    <!--<fa-icon [icon]="faGear"></fa-icon>-->
                    <img src="../../../assets/icons/ticket_nav.svg">
                    Atendimento
                  </a>
                  <a ngbDropdownToggle style="cursor: pointer;" style="border: 0px solid blue;">
                    <img src="../../../assets/icons/user_avatar.svg"> 
                      Username
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                      <button ngbDropdownItem>
                        <a class="navbar-items">
                          <fa-icon [icon]="faAddressCard"></fa-icon>
                          Profile</a>
                      </button>
                      <button ngbDropdownItem>
                        <a class="navbar-items">
                          <fa-icon [icon]="faClock"></fa-icon>
                          Sessions</a>
                      </button>
                      <button ngbDropdownItem>
                        <div class="navbar-items">
                          <a (click)="Logout(sessionData)" style="color: red;">
                            <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
                            Logout
                          </a>
                        </div>
                      </button>
                    </div>
                  </a>
                </div>
              </li>

          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

