<div class="container">
  <nav class="navbar navbar-expand-md">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    </div>
      <div class="mx-auto order-0">
        <a class="navbar-brand" routerLink="/home">
          <img src="../assets/images/iTicket_logo.svg">
        </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="url.includes('settings') || url.includes('profile')" routerLink="/home">
            <img src="../../../assets/icons/ticket_nav.svg">
            <a>Atendimento</a>
          </li>
          <li class="nav-item" *ngIf="url.includes('home')" routerLink="/settings">
            <img src="../../../assets/icons/settings.svg">
            <a>Definições</a>
          </li>
          <li class="nav-item dropdown" *ngIf="!url.includes('booking') && !url.includes('login')">
            <img src="../../../assets/icons/user_avatar.svg"> 
            <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ sessionData?.name }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li routerLink="/profile">
                <img src="../../../assets/icons/profile.svg">
                <a class="dropdown-item">Perfil</a>
              </li>
              <li>
                <img src="../../../assets/icons/sessions.svg">
                <a class="dropdown-item">Sessões</a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li (click)="Logout(this.sessionData.id)">
                <img src="../../../assets/icons/logout.svg">
                <a class="dropdown-item">Sair</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
  </nav>
</div>
