.title{
  position: absolute;
  width: 565px;
  height: 47px;
  left: 404px;
  top: 250px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;

  color: #004B92;
}