<app-navbar></app-navbar>

<div class="container" style="border: 0px solid red; margin-top: 5%;">
  <div class="row">
    <div class="col col-lg 10">
      <h1>
        Bookings
      </h1>
      <table class="table table-hover" style="width: 100%;">
        <thead>
          <tr>
            <th style="width: 10%;" scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Horarios</th>
            <th scope="col">Status</th>
            <th scope="col">Serviço</th>
            <th scope="col">Local</th>
            <th scope="col">Notas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sessionData">
            <td>{{ data.name }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.admin }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>