<ng-template #createWaitingList>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Adicionar Fila</h5>
    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="waitingListFormValue" class="row g-3">
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Nome</label><a class="mandatoryField">  *</a>
        <input formControlName="name" type="text" class="form-control form-control-lg notransition shadow-none">
      </div>  
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Funcionário</label><a class="mandatoryField">  *</a>
        <!-- <input formControlName="user_id" type="text" class="form-control form-control-lg notransition shadow-none"> -->
        <select formControlName="user_id" class="form-select form-select-lg notransition shadow-none" id="inputGroupSelect01">
          <option selected>Escolha um funcionário</option>
          <option *ngFor="let func of allUserData" [value]="func.id">{{ func.name }}</option>
        </select>

      </div>   
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Hora Inicio</label><a class="mandatoryField">  *</a>
        <input formControlName="start_time" type="datetime-local" class="form-control form-control-lg notransition shadow-none">
      </div>   
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Hora Fim</label>
        <input formControlName="end_time" type="datetime-local" class="form-control form-control-lg notransition shadow-none">
      </div>   
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Serviço</label><a class="mandatoryField">  *</a>
        <!-- <input type="text" class="form-control form-control-lg notransition shadow-none"> -->
        <select formControlName="service_id" class="form-select form-select-lg notransition shadow-none" id="inputGroupSelect01">
          <option selected>Escolha um serviço</option>
          <option *ngFor="let service of allServiceData" [value]="service.id">{{ service.name }}</option>
        </select>
      </div>     
      <div class="col-md-3">
        <label for="recipient-name" class="col-form-label">Estado</label>
        <div class="form-check form-switch">
          <input [checked]="checked" (change)="checkClicked(checked)" class="form-check-input" type="checkbox" 
          ngDefaultControl>
          <label *ngIf="checked" class="form-check-label" for="flexSwitchCheckDefault">
            <p ngDefaultControl>Ativa</p>
            <input formControlName="status" type="hidden" value="{{ this.waitingListFormValue.patchValue({status: 'active'}) }}">
          </label>
          <label *ngIf="!checked" class="form-check-label" for="flexSwitchCheckDefault">
            <p ngDefaultControl>Inativa</p>
            <input formControlName="status" type="hidden" value="{{ this.waitingListFormValue.patchValue({status: 'inactive'}) }}">
          </label>
        </div>
      </div>       
      <div class="col-mb-6">
        <label for="message-text" class="col-form-label">Notas</label>
        <textarea class="form-control shadow-none" rows="3" id="status"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a (click)="closeModal()"> Cancelar </a>
    <button (click)="addWaitingList()" type="button" class="btn mt-2 mb-2 btn-primary">Adicionar</button>
  </div>
</ng-template>