<div class="top-table">
  <input [(ngModel)]="serviceSearchBar" class="form-control mt-2 mb-2 shadow-none" type="text" 
  placeholder="Pesquisar..." ngDefaultControl> 
  <button (click)="openCreateServiceModal()" class="btn mt-2 mb-2 btn-primary">Adicionar</button>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nome do serviço</th>
      <th scope="col">Notas</th>
      <th scope="col">Estado</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of allServiceData | slice: (page-1) * pageSize : page * pageSize | searchBar: serviceSearchBar">
      <td style="width: 30%;">{{ data['name'] }}</td>
      <td style="width: 35%;">{{ data['notes'] }}</td>
      <td *ngIf="data['status']" style="width: 25%;">
        <div class="form-check form-switch">
          <input *ngIf="data['status'] == 'active'" class="form-check-input" type="checkbox" checked>
          <input *ngIf="data['status'] == 'inactive'" class="form-check-input" type="checkbox">
          <label class="form-check-label" for="flexSwitchCheckDefault">
            <p *ngIf="data['status'] == 'active'" ngDefaultControl>Ativo</p>
            <p *ngIf="data['status'] == 'inactive'" ngDefaultControl>Inativo</p>
          </label>
        </div>
      </td>
      <td *ngIf="!data['status']" style="width: 25%;"></td>
      <td style="width: 10%;">
        <img (click)="openServiceEditModal(data['id'], data['name'], data['notes'], data['status'] =='active')" 
          src="../../../assets/icons/edit.svg"/>
        <img (click)="openDeleteModal(data['id'])" style="margin-left: 25%;" 
        src="../../../assets/icons/trash.svg"/>
      </td>
    </tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="allServiceData.length">
        Sem informação a apresentar
      </td>
    </tr>
    <div *ngIf="(allServiceData | searchBar: serviceSearchBar)?.length == 0">
      <td style="width: 100%; font-size: 16px; ">
        Não existem dados correspondentes
      </td>
    </div>
  </tbody>
</table>
<div class="bottom-table">
  <select class="form-select shadow-none" style="width: auto" [(ngModel)]="pageSize" 
  (ngModelChange)="ServiceTablePagination()" ngDefaultControl>
    <option [ngValue]="5">Mostrar 5</option>
    <option [ngValue]="10">Mostrar 10</option>
    <option [ngValue]="15">Mostrar 15</option>
  </select>
  <ngb-pagination class="d-flex justify-content-right"
    [rotate]="true"
    [ellipses]="true"
    [(page)]="page" 
    [pageSize]="pageSize" 
    [collectionSize]="allServiceData?.length"
    (pageChange)="ServiceTablePagination()">
    <ng-template ngbPaginationPrevious>Anterior</ng-template>
    <ng-template ngbPaginationNext>Próximo</ng-template>
    <ng-template ngbPaginationEllipsis>...</ng-template>
  </ngb-pagination>
</div>

<app-create-service #createService></app-create-service>
<app-edit-service-modal #editService></app-edit-service-modal>
<app-delete-modal #deleteModal></app-delete-modal>
<app-warning #warningModal></app-warning>