<ng-template #editBooking>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Editar Agendamento</h5>
    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="bookingForm" class="row g-3">
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Nome</label>
        <input [value]="bookingForm.get('name').value" type="text" class="form-control form-control-lg notransition shadow-none"
        id="name" readonly >
      </div>
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Email</label>
        <input [value]="bookingForm.get('email').value" type="text" class="form-control form-control-lg notransition shadow-none"
        id="email" readonly >
      </div>
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Serviço</label>
        <input [value]="bookingForm.get('service_id').value" type="text" class="form-control form-control-lg notransition shadow-none"
        id="service_id" readonly >
      </div>   
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Morada</label>
        <input [value]="bookingForm.get('location_id').value" type="text" class="form-control form-control-lg notransition shadow-none"
        id="location_id" readonly >
      </div> 
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Horário</label>
        <input [value]="bookingForm.get('start_time').value | date:'dd MMMM yyyy - HH:mm aa'"
        type="text" class="form-control form-control-lg notransition shadow-none" id="start_time" readonly >
      </div>       
      <div class="col-md-3">
        <label for="recipient-name" class="col-form-label">Atendimento</label>
        <div *ngIf="this.bookingForm.get('priority').value == 'priority'" class="form-check form-switch">
          <input class="form-check-input" type="checkbox" style="border-color:#ffa600; background-color: #ffa600;" checked>
          <label class="form-check-label" for="flexSwitchCheckDefault">
            <p>Prioritário</p>
          </label>
        </div>
        <div *ngIf="this.bookingForm.get('priority').value == 'normal'" class="form-check form-switch">
          <input class="form-check-input" type="checkbox" checked>
          <label class="form-check-label" for="flexSwitchCheckDefault">
            <p>Normal</p>
          </label>
        </div>
      </div>

      <div class="col-md-3">
        <label for="recipient-name" class="col-form-label">Estado</label>
        <div *ngIf="this.bookingForm.get('status').value == 'confirmed'" class="form-check form-switch">
          <input class="form-check-input" type="checkbox" checked>
          <label class="form-check-label" for="flexSwitchCheckDefault">
            <p>Confirmado</p>
          </label>
        </div>
        <div *ngIf="this.bookingForm.get('status').value == 'pending'" class="form-check form-switch">
          <input class="form-check-input" type="checkbox">
          <label class="form-check-label" for="flexSwitchCheckDefault">
            <p>Pendente</p>
          </label>
        </div>
      </div>       
      <div class="col-mb-6">
        <label for="message-text" class="col-form-label">Notas</label>
        <textarea formControlName="notes" class="form-control shadow-none" rows="3" id="status"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a (click)="closeModal()"> Cancelar </a>
    <button (click)="updateBooking()" type="button" class="btn mt-2 mb-2 btn-primary">Editar</button>
  </div>
</ng-template>