<app-navbar></app-navbar>

<div class="container" style="border: 0px solid blue;">
  <div class="row" style="border: 0px solid black;">
    <div class="col-12 col-lg-12" style="border: 0px solid red;">
      <h1>
        Definições
      </h1>
        <div class="card-body">
          <mat-tab-group dynamicHeight>

            <!----------------------------Serviços---------------------------->

            <mat-tab label="Serviços">
              <app-service-table></app-service-table>
            </mat-tab>

            <!----------------------------Agendamentos---------------------------->

            <mat-tab label="Agendamentos">
              <app-booking-table></app-booking-table>
            </mat-tab>

            <!----------------------------Localizações---------------------------->
            
            <mat-tab label="Localizações">
              <app-location-table></app-location-table>
            </mat-tab>

            <!-------------------------------Filas--------------------------------->

            <mat-tab label="Filas">
              <app-waiting-list-table></app-waiting-list-table>
            </mat-tab>

            <!----------------------------Utilizadores---------------------------->

            <mat-tab label="Utilizadores">
              <app-user-table></app-user-table>
            </mat-tab>

            <!----------------------------Senhas---------------------------->

            <mat-tab label="Senhas">
              <app-ticket-table></app-ticket-table>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
