<ng-template #editUser>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Editar Utilizador</h5>
    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="userForm" class="row g-3">
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Nome:</label>
        <input formControlName="name" type="text" class="form-control form-control-lg notransition shadow-none"
        id="name">
      </div>
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Email:</label>
        <input formControlName="email" type="text" class="form-control form-control-lg notransition shadow-none"
        id="email">
      </div>
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Contacto:</label>
        <input formControlName="phone" type="text" class="form-control form-control-lg notransition shadow-none"
        id="phone">
      </div>
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Cargo:</label>
        <div class="form-check form-switch">
          <input formControlName="admin" class="form-check-input" type="checkbox">
          <label class="form-check-label" for="flexSwitchCheckDefault">
          </label>
        </div>
      </div>        
    </form>
  </div>
  <div class="modal-footer">
    <a (click)="closeModal()"> Cancelar </a>
    <button type="button" class="btn mt-2 mb-2 btn-primary">Editar</button>
  </div>
</ng-template>