::ng-deep .modal-content{
  border-radius: 27px !important;
  border: 3px solid #1193F2;
}

.modal-header{
  background-color: #EAF3FA;
  border-radius: 27px 27px 0px 0px; 
}

  .modal-header .btn-close{
    color: #ADCAE1;
    opacity: 0.2;
    box-shadow: none;
  }

.modal-title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #004B92;
}

.modal-body{
  border-radius: 0px 0px 27px 27px; 
}

h4{
  font-family: 'Poppins';
  font-style: normal;
  color: #004B92;
}