<ng-template #createdTicket>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Dados Senha</h5>    
    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createdTicketForm" class="row g-3">
      <div class="col-md-2">
        <label for="recipient-name" class="col-form-label">Numero</label>
        <input formControlName="number" type="text" class="form-control form-control-lg notransition shadow-none"
        id="name" readonly>
      </div>
      <div class="col-md-4">
        <label for="recipient-name" class="col-form-label">Fila</label>
        <input formControlName="waiting_list_name" type="text" class="form-control form-control-lg notransition shadow-none"
        id="name" readonly>
      </div>
      <div class="col-md-6">
        <label for="recipient-name" class="col-form-label">Serviço</label>
        <input formControlName="waiting_list_service" type="text" class="form-control form-control-lg notransition shadow-none"
        id="name" readonly>
      </div>
      <div class="col-md-4">
        <label for="recipient-name" class="col-form-label">Atendimento</label>
        <div class="form-check form-switch">
          <input [checked]="checked" (change) = "checkClicked(checked)" class="form-check-input" type="checkbox" 
          ngDefaultControl>
          <label *ngIf="!checked" class="form-check-label" for="flexSwitchCheckDefault">
            <p ngDefaultControl>Normal</p>
            <input formControlName="priority" type="hidden" 
            value="{{ this.createdTicketForm.patchValue({priority: 'normal'}) }}">
          </label>
          <label *ngIf="checked" class="form-check-label" for="flexSwitchCheckDefault">
            <p ngDefaultControl>Prioritário</p>
            <input formControlName="priority" type="hidden"
            value="{{ this.createdTicketForm.patchValue({priority: 'priority'}) }}">
          </label>
        </div>
      </div>
      <div class="col-md-12 aviso">
        <label for="recipient-name" class="col-form-label">Aviso!</label>
        <p>
          Atendimento prioritário apenas para pessoas com defeciência, pessoas idosas ou grávidas. 
        <br>
          Caso escolha este estatudo e não seja um dos casos referidos, corre risco do cancelamento da senha ou agendamento.
        </p>
      </div>
      <div class="col-md-12 mt-4">
        <label for="recipient-name" class="col-form-label">Introduza o seu email para receber a senha</label>
        <input formControlName="email" type="email" class="form-control form-control-lg">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="createTicket()" type="button" class="btn mt-2 mb-2 btn-primary col-md-4 offset-md-8">Confirmar</button>
  </div>
</ng-template>