<div class="container"> 
  <div class="row">
    <div class="col-12 col-md-8 col-lg-12 offset-md-2 offset-lg-0" style="border: 0px solid green;">
      <img class="d-lg-block logo_login" src="../../../assets/images/iTicket_logo.svg">
      <div class="card col-10 col-sm-12 col-md-12 col-lg-5 offset-1 offset-sm-1 offset-md-3 offset-lg-1~2">
        <div class="card-body col-lg-12" style="border: 0px solid red;">
          <h1 class="card-title">Iniciar Sessão</h1>
          <form class="formulario" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="mb-3">
              <label for="login1" class="form-label">Email</label>
              <input type="email" [(ngModel)]="email" formControlName="email" class="form-control" id="email"
                placeholder="Introduza o seu email (ex: user@email...)" ngDefaultControl>
            </div>
            <div class="mb-3">
              <label for="login2" class="form-label">Palavra-Passe</label>
              <input type="password" [(ngModel)]="password" formControlName="password" class="form-control" id="password" 
                placeholder="Introduza a sua palavra-passe" ngDefaultControl>
            </div>
            <div class="bottom-card">
            </div>
            <div class="card-footer col-lg-11 col-md-11 offset-1 col-11" style="border: 0px solid blue;">
              <a routerLink="/recover_password"> Recuperar palavra-passe</a>
              <button class="rounded-pill btn btn-primary btn-lg">Entrar</button>          
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>