.col-lg-10{
  text-align: center;
  border: 0px solid #1193F2;
}

h1{
  color: #004B92;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  position: relative;
  margin-top: 100px;
}

.btn{
  position: relative;
  width: 231px;
  height: 59px;
  background: #1193F2;
  border: 1px solid #1193F2;
  border-radius: 40px;
  box-shadow: none;
  animation: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  margin-top: 5%;
}
