<div class="container"> 
  <div class="row">
    <div class="col-6 col-lg-12" style="border: 0px solid green;">
    <img class="d-lg-block logo_login" src="../../../assets/images/iTicket_logo.svg">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Recuperar palavra-passe</h1>
          <form class="formulario" [formGroup]="updatePassForm" >
            <div class="mb-3">
              <label class="form-label">Palavra-Passe</label>
              <input type="password" formControlName="password" class="form-control" id="password" 
              placeholder="Introduza a sua nova palavra-passe">
            </div>
            <div class="mb-3">
              <label class="form-label">Confirmar Palavra-Passe</label>
              <input type="password" formControlName="passwordconfirmation" class="form-control" id="password_confirmation" 
              placeholder="Confirme a sua nova palavra-passe">
            </div>
            <button class="rounded-pill btn btn-primary btn-lg" (click)="dados(); updateUserPassword()">Enviar</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>