<app-navbar></app-navbar>
<!--
<div class="container" style="border: 0px solid red; margin-top: 5%;">
  <div class="row">
    <div class="col col-lg 10">
      <h1>
        Locations
        <fa-icon style="font-size: 30px; cursor: pointer" placement="end" ngbTooltip="Add Location" 
          data-bs-target="#createLocation" data-bs-toggle="modal" [icon]="faCirclePlus"></fa-icon>
      </h1>
      <table class="table table-hover table-bordered" style="width: 100%;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Address</th>
            <th scope="col">Status</th>
            <th scope="col">Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of allLocationData">
            <th scope="row">{{ data.id }}</th>
            <td>{{ data.address }}</td>
            <td>{{ data.status }}</td>
            <td>{{ data.notes }}</td>
            <td style="border: 0px solid black;">
              <button style="margin-left: 5%;" class="btn btn-warning" data-bs-target="#editLocation" 
              data-bs-toggle="modal" (click)="onEditLocation(data)">Edit</button>&nbsp;
              <button style="margin-left: 5%;" class="btn btn-danger" data-bs-target="#deleteLocation" 
              data-bs-toggle="modal" class="btn btn-danger" (click)="deleteLocation(data)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal para criar dados--------------------------- -->
<div class="modal fade" id="createLocation" data-bs-backdrop="static" tabindex="-1" aria-labelledby="createLocationLabel" 
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createLocationLabel">Add Location</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Address:</label>
            <input type="text" formControlName="address" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Notes:</label>
            <textarea formControlName="notes" class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" data-bs-toggle="modal" (click)="addLocation()">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="msgCreateLocation" tabindex="-1" aria-labelledby="msgCreateLocationLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgCreateLocationLabel">Success!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Location added successfully!!
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<!-- Modal para editar dados--------------------------- -->
<div class="modal fade" id="editLocation" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" 
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Location</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-4">
            <label for="recipient-name" class="col-form-label">Address:</label>
            <input type="text" formControlName="address" class="form-control" id="address">
          </div>

          <ng-component *ngIf=""status.></ng-component>

          <div class="mb-3">
            <div class="form-check">
              <input formControlName="status" ngModel="allLocationData.status" type="radio" name="status" value="0" >
              <label class="form-check-label" for="flexRadioDefault1">
                Active
              </label>
            </div>
            <div class="form-check">
              <input formControlName="status" ngModel="allLocationData.status" type="radio" name="status" value="1" >
              <label class="form-check-label" for="flexRadioDefault2">
                Inactive
              </label>
            </div>
          </div>

          <div class="mb-3">
            <label for="message-text" class="col-form-label">Notes:</label>
            <input formControlName="notes" class="form-control" id="notes"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateLocation()">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para apagar -->
<div class="modal fade" id="deleteLocation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete Location</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you what do delete this location? This operation is irreversible!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>