<div class="top-table">
  <input class="form-control mt-2 mb-2 shadow-none" type="text" placeholder="Pesquisar..." ngDefaultControl> 
  <button (click)="openCreateWaitingListModal()" class="btn mt-2 mb-2 btn-primary">Adicionar</button>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Hora Inicio</th>
      <th scope="col">Hora Fim</th>
      <th scope="col">Serviço</th>
      <th scope="col">Funcionário</th>
      <th scope="col">Estado</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of allWaitingListData | slice: (page-1) * pageSize : page * pageSize">
      <td style="width: 15%;">{{ data['name'] }}</td>
      <td style="width: 15%;" *ngIf="data['start_time']">{{ data['start_time'] | date:'dd MMMM yyyy - HH:mm aa' }}</td>
      <td style="width: 15%;" *ngIf="!data['start_time']">Por Começar</td>
      <td style="width: 15%;" *ngIf="data['end_time']">{{ data['end_time'] | date:'dd MMMM yyyy - HH:mm aa' }}</td>
      <td style="width: 15%;" *ngIf="!data['end_time']">Por Encerrar</td>
      <td style="width: 15%;">{{ data['service'].name }}</td>
      <td style="width: 15%;">{{ data['user'].name }}</td>
      <td style="width: 15%;">
        <div *ngIf="data['status'] == 'active'" class="form-check form-switch">
          <input class="form-check-input" type="checkbox" checked>
          <label class="form-check-label" for="flexSwitchCheckDefault">
            <p>Ativa</p>
          </label>
        </div>
        <div *ngIf="data['status'] == 'inactive'" class="form-check form-switch">
          <input class="form-check-input" type="checkbox">
          <label class="form-check-label" for="flexSwitchCheckDefault">
            <p>Inativa</p>
          </label>
        </div>
      </td>
      <td style="width: 10%;">
        <img src="../../../assets/icons/edit.svg"
        (click)="openWaitingListEditModal(data['id'], data['name'], data['user_id'].name, data['start_time'], 
        data['end_time'], data['service_id'].name, data['status'])">
        <img (click)="openDeleteModal(data['id'])" style="margin-left: 25%;" src="../../../assets/icons/trash.svg">
      </td>
    </tr>
  </tbody>
</table>    
<div class="bottom-table">
  <select class="form-select shadow-none" style="width: auto" [(ngModel)]="pageSize" 
  (ngModelChange)="WaitingListTablePagination()" ngDefaultControl>
    <option [ngValue]="5">Mostrar 5</option>
    <option [ngValue]="10">Mostrar 10</option>
    <option [ngValue]="15">Mostrar 15</option>
  </select>
  <ngb-pagination class="d-flex justify-content-right"
    [rotate]="true"
    [ellipses]="true"
    [(page)]="page" 
    [pageSize]="pageSize" 
    [collectionSize]="allWaitingListData?.length"
    (pageChange)="WaitingListTablePagination()">
    <ng-template ngbPaginationPrevious>Anterior</ng-template>
    <ng-template ngbPaginationNext>Próximo</ng-template>
    <ng-template ngbPaginationEllipsis>...</ng-template>
  </ngb-pagination>
</div>    

<app-create-waiting-list #createWaitingList></app-create-waiting-list>
<app-edit-waiting-list #editWaitingList></app-edit-waiting-list>
<app-delete-modal #deleteModal></app-delete-modal>
<app-warning #warningModal></app-warning>