<div class="top-table">
  <input [(ngModel)]="ticketSearchBar" class="form-control mt-2 mb-2 shadow-none" type="text" 
  placeholder="Pesquisar por número ou fila" ngDefaultControl> 
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nº Senha</th>
      <th scope="col">Fila</th>
      <th scope="col">Serviço</th>
      <th scope="col">Duração</th>
      <th scope="col">Atendimento</th>
      <th scope="col">Estado</th>
      <th scope="col">Tipo de Senha</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of allTicketData | slice: (page-1) * pageSize : page * pageSize | ticketSearchBar: ticketSearchBar">
      <td style="width: 10%;">{{ data['waiting_list']['service'].name | homePipes }} {{ data['number']  | number: '3.0' }}</td>
      <td style="width: 10%;">{{ data['waiting_list'].name }}</td>
      <td style="width: 10%;">{{ data['waiting_list']['service'].name }}</td>
      <td style="width: 15%;">{{ data['duration'] | date:'HH:mm:ss' }}</td>
      <td *ngIf="data['priority']" style="width: 15%;">
        <div class="form-check form-switch">
          <input *ngIf="data['priority'] == 'normal'" class="form-check-input" type="checkbox" checked>
          <input *ngIf="data['priority'] == 'priority'" class="form-check-input canceled"
          style="border-color:#ffa600; background-color: #ffa600;" type="checkbox" checked>
          <label class="form-check-label" for="flexSwitchCheckDefault">
            <p *ngIf="data['priority'] == 'priority'" ngDefaultControl>Prioritário</p>
            <p *ngIf="data['priority'] == 'normal'" ngDefaultControl>Normal</p>
          </label>
        </div>
      </td>
      
      <td *ngIf="data['status']" style="width: 10%;">
        <div class="form-check form-switch">
          <input *ngIf="data['status'] == 'pending'" class="form-check-input" type="checkbox">
          <input *ngIf="data['status'] == 'call_missed'" class="form-check-input"
          style="border-color:#ffa600; background-color: #ffa600;" type="checkbox" checked>
          <input *ngIf="data['status'] == 'finished'" class="form-check-input"
          style="border-color:#f41414; background-color: #f41414;" type="checkbox" checked>
          <label class="form-check-label" for="flexSwitchCheckDefault">
            <p *ngIf="data['status'] == 'pending'" ngDefaultControl>Pendente</p>
            <p *ngIf="data['status'] == 'call_missed'" ngDefaultControl>Não Atendida</p>
            <p *ngIf="data['status'] == 'finished'" ngDefaultControl>Terminado</p>
          </label>
        </div>
      </td>
      <td *ngIf="!data['status']" style="width: 10%;"></td>
      <td *ngIf="data['ticket_type'] == 'is_booking'" style="width: 15%;">Agendamento</td>
      <td *ngIf="data['ticket_type'] == 'is_ticket'" style="width: 15%;">Normal</td>
      <td style="width: 10%;">
        <img src="../../../assets/icons/edit.svg"
        (click)="openTicketEditModal(data['id'], data['number'], data['waiting_list'].name, data['duration'],
        data['priority'], data['status'], data['notes'])">
        <img (click)="openDeleteModal(data['id'])" style="margin-left: 25%;"
        src="../../../assets/icons/trash.svg">
      </td>
    </tr>
    <div *ngIf="allTicketData?.length == null">
      <td style="width: 100%; font-size: 16px;">
        Erro a carregar dados
      </td>
    </div>
    <div *ngIf="allTicketData?.length == 0">
      <td style="width: 100%; font-size: 16px;">
        Sem informação a apresentar
      </td>
    </div>
    <div *ngIf="(allTicketData | ticketSearchBar: ticketSearchBar)?.length == 0 && allTicketData?.length != 0">
      <td style="width: 100%; font-size: 16px; ">
        Não existem dados correspondentes
      </td>
    </div>
  </tbody>
</table>
<div class="bottom-table">
  <select class="form-select shadow-none" style="width: auto" [(ngModel)]="pageSize" 
  (ngModelChange)="TicketTablePagination()" ngDefaultControl>
    <option [ngValue]="5">Mostrar 5</option>
    <option [ngValue]="10">Mostrar 10</option>
    <option [ngValue]="15">Mostrar 15</option>
  </select>
  <ngb-pagination class="d-flex justify-content-right"
    [rotate]="true"
    [ellipses]="true"
    [(page)]="page" 
    [pageSize]="pageSize" 
    [collectionSize]="allTicketData?.length"
    (pageChange)="TicketTablePagination()">
    <ng-template ngbPaginationPrevious>Anterior</ng-template>
    <ng-template ngbPaginationNext>Próximo</ng-template>
    <ng-template ngbPaginationEllipsis>...</ng-template>
  </ngb-pagination>
</div>

<app-edit-ticket-modal #editTicket></app-edit-ticket-modal>
<app-delete-modal #deleteModal></app-delete-modal>
<app-warning #warningModal></app-warning>